#jvmdiv {
     margin:0 auto;
     width:  800px;
     height: 450px;
     text-align:center;
     vertical-align: middle;
     display:inline-block;
     /*background-color:#ffd700;*/
 }

#container {
    width:  1590px;
    height: 700px;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    /*background-color:#191970;*/
}